
<!-- 主体 -->
<div class="body">
	<dl class="author" >
		<dt>本周推荐</dt>
		<dd ng-repeat="auto in authors">
			<div class="avatar">
				<img ng-src="{{auto.avatar}}" alt="">
			</div>
			<div class="info">
				<h5>{{auto.name}}</h5>
				<p>{{auto.editor_notes}}</p>
			</div>
		</dd>
		
		<dt>热门作者</dt>
		<dd ng-repeat="auto1 in authors1">
			<div class="avatar">
				<img ng-src="{{auto1.avatar}}" alt="">
			</div>
			<div class="info">
				<h5>{{auto1.name}}</h5>
				<p>{{auto1.editor_notes}}</p>
			</div>
		</dd>
		
	</dl>
</div>
		